node_modules/
.env

# App Android (Capacitor)
app/node_modules/
app/android/.gradle/
app/android/build/
app/android/app/build/
app/android/local.properties
app/android/capacitor-cordova-android-plugins/
*.apk
